.photo__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; 
}

@media (max-width:1100px){
    .photo__container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:850px){
    .photo__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px){
    .photo__container{
        grid-template-columns: repeat(1, 1fr);
    }
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.pagination__button{
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
    background-color: aqua;
}

body{
    overflow: auto;
}